<% include ../partials/header %>
    <div id="books-grid-container">
        <div id="i-books-left-column">
            <nav id="i-books-left-column-nav">
                <ul>
                    <a href="/books/create"><div class="i-books-left-column-nav-div">CREATE</div></a>
                    <a href="/books/create"><div class="i-books-left-column-nav-div">CREATE</div></a>

                </ul>
                
            </nav>
        </div>
        
        <div id="i-books-container">
            <% books.forEach(book=>{ %>               
                <a href="/books/<%=book.title%>&<%=book.author%>" class="i-individual-book-container">                   
                    <img src="<%=book.image%>" class="i-book-image">
                    <div class="i-book-title"><%=book.title%></div>
                    <div class="i-book-author"><%=book.author%></div>
                </a>               
            <% }); %>
        </div>
    </div>
<% include ../partials/footer %>