<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div><%=author%></div>
    <div><%=title%></div>
    <div><%=image%></div>
    <img src='<%=image%>'></img>
    <a href="/books/<%=title%>&<%=author%>/update">UPDATE</a>

</body>
</html>