<% include ../partials/header %>
    <div id="books-body">
        <div id="books-title-container">
            <img id="books-book-image" src="<%=book[0].Image%>" alt="">
            <div id="books-title">
                <h2><%=book[0].title%></h2>
                <h2><%=book[0].author%></h2>
            </div>
            <div id="fold-down-menu-icon"><i class="fa fa-bars"></i></div>
        </div>

        <div id="books-previews-nav-container">
            <div id="i-books-left-column">
                <nav id="i-books-left-column-nav">
                    <ul>
                        <a href="/search">
                            <div class="i-books-left-column-nav-div">FIND BOOK</div>
                        </a>
                        <a href="/books/create">
                            <div class="i-books-left-column-nav-div">ADD BOOK</div>
                        </a>
                        <a href="/synopsis/<%=book[0].title%>&<%=book[0].author%>/create">
                            <!-- If try to write synopsis from here then send to search page -->
                            <div class="i-books-left-column-nav-div">WRITE SYNOPSIS</div>
                        </a>
                        <%if(!username){%>
                            <a href="/login">
                                <!-- If try to write synopsis from here then send to search page -->
                                <div class="i-books-left-column-nav-div">LOGIN</div>
                            </a>
                            <a href="/register">
                                <!-- If try to write synopsis from here then send to search page -->
                                <div class="i-books-left-column-nav-div">REGISTER</div>
                            </a>
                        <%}%>

                        <%if(username==='brendanmusick'){%>
                            <a href="/books/<%=book[0].title%>&<%=book[0].author%>/update">
                                <div class="i-books-left-column-nav-div">UPDATE</div>
                            </a>
                        
                            <form class="delete-button" action="/books/<%=book[0].title%>&<%=book[0].author%>?_method=DELETE" method="POST">
                                <button class="i-books-left-column-nav-div delete-button" type="submit" value="DELETE">DELETE</button>
                            </form>                    
                        <%};%>

                    </ul>
                </nav>

            </div>

            <!-- Once have a rating system, only show the top synopsis as the main body -->


            <div id="books-previews-container">
                <div><%=book[0].synopsis_text%></div>
                <div id="books-previews-synopsis-author">Synopsis By: <%=book[0].synopsis_author%></div>
            </div>
        </div>
        
    </div>

<% include ../partials/footer %>