<% include ../partials/header %>

    <div>
            <div>BOOK</div>
        <div><%=synopsis[0].book_title%></div>
        <div><%=synopsis[0].synopsis_author%></div>
        <%synopsis.forEach(syn=>{%>
            
           
            <div><%=syn.synopsis_text%></div>


        <%});%>
        <!-- Links to the form where author and title are automatic values -->
        <a href="/synopsis/<%=synopsis[0].book_title%>&<%=synopsis[0].book_author%>/create">Write A Synopsis</a>

    </div>
    
</body>
</html>